{% extends "base.html" %}
{% block title %}Предприятия{% endblock %}

{% block content %}
<h1>Список предприятий</h1>

<style>
    .company-block {
        cursor: pointer;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 8px;
        margin-bottom: 10px;
        background-color: #f9f9f9;
    }
    .company-header:hover {
        background-color: #e0e0e0;
    }
</style>

<div>
    {% for company in companies %}
        <div class="company-block">
            <div class="company-header" onclick="toggleDetails('{{ company.id }}')">
                <strong>{{ company.name }}</strong>
            </div>
            <div class="company-details" id="details-{{ company.id }}" style="display:none; margin-top: 5px; margin-left: 15px;">
                <p><strong>Технический руководитель:</strong> {{ company.tech_lead.username }}</p>
                <p><strong>Описание:</strong> {{ company.description|default:"Нет описания" }}</p>
                <p><strong>Создано:</strong> {{ company.created_at|date:"d.m.Y H:i" }}</p>
                <a href="{% url 'company_detail' company.id %}">
                    <button type="button">Перейти</button>
                </a>
            </div>
        </div>
        <hr>
    {% endfor %}
</div>

<a href="{% url 'company_create' %}" style="display: inline-block; margin-top: 20px;">
    <button type="button">Создать предприятие</button>
</a>



<script>
    function toggleDetails(id) {
        const el = document.getElementById("details-" + id);
        el.style.display = el.style.display === "none" ? "block" : "none";
    }
</script>

{% endblock %}
